<div fxLayoutAlign="center center">
    <div fxFlex="100%" fxFlexFill fxLayout="column" fxLayoutAlign="center">
      <h1>Eliminar Deporte</h1>
      <p>Estas apunto de borra un deporte,<br> ¿Estas seguro?</p>
    </div>
  </div>
  <button mat-raised-button color="warn" class="botonCrear boton_derecha" (click)="doDeleteDeporte()">Eliminar</button>
  <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <button mat-raised-button color="primary" class="botonCrear boton_izquierda" (click)="closeDialog()">Cancelar</button>