.contenedor-div{
    position:relative;
}
.example-card {
    text-align: center;
    max-width: 400px;
    margin-left: 0px;
    margin-right: 0px;
  }

.boton_derecha{
    float: right;
    margin-right: 10px;
  }
  .boton_izquierda{
    float: left;
    margin-left: 10px;
  }

  .formilario{
    width: 100%;
    height: 100%;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
  }