  .example-icon {
      padding: 0 14px;
  }
  .example-icon {
    padding: 0 14px;
  }
  .mat-toolbar{
    background-color: #005b9f;
    color: white;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  
    
    .example-card {
      text-align: center;
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 3px 3px 5px 5px #999;
    }
    .anchura{
      width: 95%;
      margin-right: 10px;
      margin-left: 10px;
    }
    .boton_derecha{
      float: right;
      margin-right: 10px;
    }
    .boton_izquierda{
      float: left;
      margin-left: 10px;
    }
    .titulo{
      font-weight: 900;
      font-size: 200%
    }